<div class="row">
  <div class="col-md-3">
<div class="well">
  <h2> The Feed Of <%= link_to current_user.username, show_user_path(id: current_user.id)%></h2>
  <h4>Stats</h4>
  <div>
    <%=pluralize current_user.tweets.count,"tweet"%>

  </div>
<div>

Following <%= pluralize current_user.following.count,"user"%>
  </div>
<div>
# of Followers
</div>
</div>
</div>

  <div class="col-md-6">


    <div class="jumbotron">
      <h2> Blog My WebSite!</h2>
      <%= render 'tweets/form',tweet: Tweet.new%>

    </div>
<% @tweets.each do|tweet|%>
      <%= render tweet %>
      <%end%>
    </div>

  <div class="col-md-3">
<div class="well">
  <h4>
User Names
<%= link_to User.all.pluck(:name) ,all_users_path%>
</h4>
</div>
  </div>
</div>
